@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  background: #d0e9c6 !important;
}

.form-inline-block {
  display: inline-block !important;
}

.info-count {
  color: #38c172;
}

.info-validation {
  color: #fc4b6c;
}

.image-avatar {
  width: 35px;
  height: 35px;
}

.image-avatar:hover {
  cursor: pointer;
}

.preview-image {
  width: 300px;
  height: 300px;
  border-radius: 3px;
  padding: 10px 15px;
}

.image-title {
  padding: 10px 5px;
}

.content-image {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.content-image img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

